[project]
	description = "DEPRECATED / OLD LOCATION; moved to https://go4.org/lock; DO NOT USE THIS VERSION"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mpl (mpl)
[access "refs/for/refs/*"]
	read = group user/mpl (mpl)
	push = group user/mpl (mpl)
	label-Code-Review = -2..+2 group user/mpl (mpl)
	label-Verified = -1..+1 group user/mpl (mpl)
	rebase = group user/mpl (mpl)
	removeReviewer = group user/mpl (mpl)
	submit = group user/mpl (mpl)
[access "refs/heads/*"]
	read = group user/mpl (mpl)
	create = group user/mpl (mpl)
	push = +force group user/mpl (mpl)
	pushMerge = group user/mpl (mpl)
[access "refs/tags/*"]
	push = group user/mpl (mpl)
	push = +force group user/mpl (mpl)
